<!DOCTYPE html>

<html xmlns:th ="http://www.thymeleaf.org">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="icon" href="images/logo2.png" type="image/x-icon">
		<link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="images/logo2.png" type="image/x-icon">
	<script>
        function toggleForm(formId) {
            var form = document.getElementById(formId);
            if (form.classList.contains('hidden')) {
                form.classList.remove('hidden');
            } else {
                form.classList.add('hidden');
            }
        }
    </script>
    <style>
		.hidden {
    display: none;
}
	</style>
		
	</head>
<body style="background: linear-gradient(0.25turn, rgb(207, 211, 211), rgb(78, 135, 228), rgb(50, 65, 189));  ">
 
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark custom-bg-color">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="images/logo2.png" class="img-fluid logo-img" alt="Logo" style="height: 5rem;">
        </a>
       
         <div class="col">
            <h1 class="py-4 custom-bg-color text-white text-center">AMYAS DEVNEXUS</h1>
        </div>
        
        
    </div>
</nav>
   <div class="container-fluid ">
        <div class="row">
            <div class="col-md-3 d-md-block">
                <div class="panel mt-4 ml-2">
                    <h2>Dasboard</h2><br>
                    <ul class="list-unstyled">
						<li><a href="userindex" class="admin-link">Home</a></li>
                        <li><a href="profilecontroller" class="admin-link">Profile</a></li>
                        <li><a href="searchuserform" class="admin-link">Search</a></li>
                         <li><a href="userpostform" class="admin-link">Post</a></li>
                     <!--    <li><a href="#" class="admin-link">Delete Admin</a></li> -->
                        <li><a href="userhome" class="admin-link">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <!-- Your main content here -->
                <div class="container mt-4">
                    
                    <h3 class="fw-bold" >Welcome <span  th:text="${user.firstname} + ' ' + ${user.lastname}"></span></h3><br>
                    <div th:each="post : ${posts}">
                        <div class="card" style="max-width: 450px; max-height: 800px;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${post.title}"></h5>
                                <p class="card-text" th:text="${post.content}"></p>
                                
                                <img th:src="'data:image/jpeg;base64,' + ${post.imageBase64}" class="card-img-top"
                                alt="Post Image" style="max-width: 400px; max-height: 400px;">
                                <br>
                                <br>
                                 <form id="likeForm" th:action="@{/likePost}" method="post">
    							<input type="hidden" name="postId" id="postIdInput"  th:value="${post.id}" >
  
    								<button type="submit" class="btn btn-primary btn-like" >
     							   Like <span class="like-count" th:text="${post.likes}"></span>
   								 </button>
   								 <button type="button" onclick="toggleForm('commentForm')" class="btn btn-secondary" >Comment</button>
								</form>
                                
                                <form id="commentForm" class="hidden" th:action="@{/commentPost}" method="post">
									<br>
                        			<div class="mb-3">
                        			<input type="hidden" name="postId" id="postIdInput"  th:value="${post.id}" >
                  						  <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter comment" required>
                  						  
                                    </div>
                                    <button type="submit" class="btn btn-primary">comment</button>
                                   <div class="previous-comments mt-3">
                                    <h5>Previous Comments:</h5>
                                    <ul>
                                        <li th:each="comment : ${post.comments}" th:text="${comment.content}"></li>
                                    </ul>
                                </div>
                                </form>
                                
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

 